<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yanxiu.gphone.student">

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CAPTURE_AUDIO_OUTPUT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <!-- 个推iBeancon功能所需权限 -->
    ;
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="getui.permission.GetuiService.com.yanxiu.ruixuetang" />

    <permission
        android:name="getui.permission.GetuiService.com.yanxiu.ruixuetang"
        android:protectionLevel="normal" />

    <application
        android:name="com.yanxiu.gphone.student.YanxiuApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5927f282f43e487b97000e80" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.yanxiu.ruixuetang.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name="com.yanxiu.gphone.student.homepage.WelcomeActivity"
            android:screenOrientation="portrait"
            android:taskAffinity="com.yanxiu.ruixuetang">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yanxiu.gphone.student.homepage.MainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity="com.yanxiu.ruixuetang"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yanxiu.gphone.student.login.activity.LoginActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <!-- <intent-filter> -->
            <!-- <action android:name="com.yanxiu.gphone.student.LoginActivity" /> -->
            <!-- <category android:name="android.intent.category.DEFAULT" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name="com.yanxiu.gphone.student.login.activity.ForgetPassWordActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.yanxiu.gphone.student.login.activity.RegisterActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.yanxiu.gphone.student.login.activity.ResetPassWordActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.yanxiu.gphone.student.homework.classmanage.activity.JoinClassActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.yanxiu.gphone.student.login.activity.JoinClassActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.yanxiu.gphone.student.login.activity.CompleteInfoActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.yanxiu.gphone.student.login.activity.ChooseLocationActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.yanxiu.gphone.student.login.activity.ChooseSchoolActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.yanxiu.gphone.student.homework.classmanage.activity.ClassInfoActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yanxiu.gphone.student.homework.classmanage.activity.HowToJoinClassActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yanxiu.gphone.student.homework.homeworkdetail.HomeworkDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yanxiu.gphone.student.questions.answerframe.ui.activity.AnswerQuestionActivity"
            android:configChanges="orientation|screenSize|keyboard"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity android:name="com.yanxiu.gphone.student.mistakeredo.MistakeRedoActivity"
            android:configChanges="orientation|screenSize|keyboard"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.yanxiu.gphone.student.questions.answerframe.ui.activity.AnalysisQuestionActivity"
            android:configChanges="orientation|screenSize|keyboard"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.yanxiu.gphone.student.questions.answerframe.ui.activity.AnswerReportActicity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.yanxiu.gphone.student.questions.answerframe.ui.activity.AnswerErrorActicity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.yanxiu.gphone.student.login.activity.JoinClassSubmitActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.yanxiu.gphone.student.login.activity.ChooseStageActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.yanxiu.gphone.student.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.umeng.qq.tencent.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.umeng.qq.tencent.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.yanxiu.gphone.student.questions.answerframe.ui.activity.NotesActicity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yanxiu.gphone.student.common.activity.CameraActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yanxiu.gphone.student.common.activity.AlbumActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yanxiu.gphone.student.common.activity.PhotoActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yanxiu.gphone.student.common.activity.CropImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yanxiu.gphone.student.user.mistake.activity.MistakeSubjectListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yanxiu.gphone.student.user.mistake.activity.MistakeListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yanxiu.gphone.student.questions.answerframe.ui.activity.MistakeAnalysisActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yanxiu.gphone.student.user.setting.activity.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yanxiu.gphone.student.user.setting.activity.CheckMobileActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yanxiu.gphone.student.user.setting.activity.BindMobileActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yanxiu.gphone.student.user.setting.activity.ChangePassWordActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yanxiu.gphone.student.user.setting.activity.AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yanxiu.gphone.student.user.setting.activity.PrivacyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yanxiu.gphone.student.user.feedback.activity.FeedbackActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yanxiu.gphone.student.user.userinfo.activity.UserInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yanxiu.gphone.student.exercise.SelectSubjectActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        */
        <activity
            android:name="com.yanxiu.gphone.student.exercise.ModifyEditionActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.yanxiu.gphone.student.exercise.SelectEditionActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.yanxiu.gphone.student.exercise.SelectChapterAndKnowledgeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yanxiu.gphone.student.user.userinfo.activity.UserEditNameActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yanxiu.gphone.student.user.userinfo.activity.UserSexActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yanxiu.gphone.student.common.activity.UserHeadCameraActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yanxiu.gphone.student.common.activity.UserHeadCropImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yanxiu.gphone.student.bcresource.BCActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yanxiu.gphone.student.bcresource.TopicActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <service android:name="com.yanxiu.gphone.student.videoplay.NetworkStateService">
            <intent-filter android:priority="1000">
                <action android:name="com.test.yanxiu.avideoplay.network.state" />
            </intent-filter>
        </service>
        /**
        * 个推相关开始
        */
        <service
            android:name="com.yanxiu.gphone.student.push.YanxiuPushService"
            android:exported="true"
            android:label="PushService"
            android:process=":pushservice" />

        <receiver android:name="com.yanxiu.gphone.student.push.YanxiuPushUpdateReceiver">
            <intent-filter>
                <action android:name="com.yanxiu.ruixuetang.yanxiu_push_update_receiver" />
            </intent-filter>
        </receiver>
        <!-- 配置第三方Receiver -->
        <!-- 此处com.getui.demo.PushDemoReceiver，需要替换成开发者自己的BroadcastReceiver文件全名 -->
        <receiver
            android:name="com.yanxiu.gphone.student.push.YanxiuPushReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.igexin.sdk.action.${GETUI_APP_ID}" />
            </intent-filter>
        </receiver>
        /**
        * 个推相关结束
        */
        <activity
            android:name="com.yanxiu.gphone.student.exercise.SubjectHistoryActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yanxiu.gphone.student.exercise.ExerciseHistoryActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yanxiu.gphone.student.mistakeredo.MistakePointActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity android:name=".questions.operation.PaletteActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>

        <activity android:name=".questions.operation.OperaPicPreviewActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"/>
        <activity
            android:name=".learning.activity.SelectLearningEditionActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
        android:name=".learning.activity.SelectSyncAndSpecailActivity"
        android:launchMode="singleTop"
        android:screenOrientation="portrait" />
        <activity
            android:name=".learning.activity.SpecialDetailActivity"
            android:configChanges="orientation|screenSize|keyboard"
            android:screenOrientation="portrait"/>

    </application>

</manifest>